<!DOCTYPE html>
<html lang="en" ng-app="myModule">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Starter</title>
</head>

<body>
    Jey Starter
    <br>
    <hr>
    <h2>Country Details</h2>
    <div ng-controller="myController">
        Country: {{country.name}}<br>
        Capital: {{country.capital}}<br>
        Flag: <img ng-src="{{country.flag}}" alt="{{country.name + ' flag'}}" style="width: 100px; height: 50px;" />
        <br><br>
        <hr>
        Christmas Message:<br>
        <input type="text" ng-model="message" />

        <div>
            {{message}}
        </div>
    </div>
    <br>
    <div ng-controller="techController">
        Technological Advancements
        <ul>
            <li ng-repeat="technol in technologies">{{technol.name}}</li>
        </ul>
        <table border="black">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Likes</td>
                    <td>Dislikes</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="technology in technologies">
                    <td>
                        {{technology.name}}
                    </td>
                    <td>{{technology.likes}}</td>
                    <td>
                        {{technology.dislikes}}
                    </td>
                    <td>
                        <input type="button" value="+" ng-click="incrementLikes(technology)" />
                    </td>
                    <td>
                        <input type="button" value="-" ng-click="decrementLikes(technology)" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<br><br><hr><br><br>
    <div ng-controller="myEmployees">
        Rows to display
        <input type="number" step="1" min="0" max="{{employees.length}}" ng-model="rowLimit" />
        <br><br>
        <table border="grey">
            <tr>
                <td>Name</td>
                <td>Date of birthday</td>
                <td>Gender</td>
                <td>Salary Decimals</td>
                <td>Salary Currency</td>
            </tr>
            <tr ng-repeat="emp in employees | limitTo:rowLimit">
                <td>{{emp.name | uppercase}}</td>
                <td>{{emp.dateOfBirth | date:"dd/MM/yyyy"}}</td>
                <td>{{emp.gender | lowercase}}</td>
                <td>{{emp.salary | number:2 }}</td>
                <td>{{emp.salary | currency:"$": 1 }}</td>
            </tr>
        </table>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="./main.js"></script>

</html>